<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <title>Eventex</title>
        <link rel="stylesheet" href="{{STATIC_URL}}css/base.css">
    </head>

    <body>
    
        <div id="container">
        
              <div id="twitter">
              
                  <div style="font-size:xx-large;text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;">
                        EventeX 
                  </div>

                                    
                  Bem-vindo ao EventeX
    
                  <br>
                      Voce nao pode perder esta oportunidade!!
          
                  <br><br><br>
              </div>

              <br>
      
              <div id="content">
              {% block content %}
              {% endblock content %}
              </div>

              <br><br><br><br><br><br>

              <div id="footer">      
                    Para dúvidas e mais informações entre em contato com o <a href="mailto:eventex@eventex.com.br">eventex@eventex.com.br</a>
                                  
                    <br>
            
                    &copy;2011. EventeX, some rights reserved.
              </div>
      </div>
      
    </body>

</html>