<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>Eventex</title>
<link rel="stylesheet" href="/static/css/base.css">
</head>

<body>
<div id="container">
<div id="twitter">

<div style="font-size:xx-large;text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;">
EventeX 
</div>

</div>

<br>

<p style="font-size:x-large;">Bem-vindo ao EventeX

<br>
 Voce nao pode perder esta oportunidade!!

<br><br><br>
Abertura das inscrições em 15/05/2011!

<br>
<br><br><br><br><br>

Para dúvidas e mais informações entre <br><br>
em contato com o <a href="mailto:eventex@eventex.com.br">eventex@eventex.com.br</a>
</p>

<br>
&copy;2011. EventeX, some rights reserved.


</div>
</body>
</html>